@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family:'NekstFont' ;
        font-style: normal;
        font-weight: 400;
        src: url(src/assets/Nekst-Regular.woff2) format('woff2');
          font-display: swap;
    }
    @font-face{
        font-family:'NekstFont' ;
        font-style: bold;
        src: url(src/assets/Nekst-Bold.woff2) format('woff2');
    }
    @font-face{
        font-family:'NekstFont' ;
        font-style: normal;
        font-weight: 700;
        src: url(src/assets/Nekst-Medium.woff2) format('woff2');
          font-display: swap
    }
}