@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family:'FontSpring' ;
        font-style: regular;
        src: url(src\assets\Fontspring-DEMO-nekst-regular.otf) format('otf');
    }
    @font-face{
        font-family:'FontSpring-medium' ;
        font-style: medium;
        src: url(src\assets\Fontspring-DEMO-nekst-medium.otf) format('otf');
    }
}